<div [formGroup]="$any(parentForm.get('step1'))">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>{{ "form.titleStep1" | translate }}</h5>
        <p class="text-muted mb-4">
          {{ "form.notice" | translate }}
        </p>
        <div class="mb-3 position-relative">
          <label for="deceasedLastName" class="form-label h6">{{
            "form.lastName" | translate
          }}</label>
          <input
            type="text"
            id="deceasedLastName"
            class="form-control"
            formControlName="deceasedLastName"
            [ngClass]="{
              'is-valid':
                parentForm.get('step1')?.get('deceasedLastName')?.valid &&
                parentForm.get('step1')?.get('deceasedLastName')?.touched,
              'is-invalid':
                parentForm.get('step1')?.get('deceasedLastName')?.invalid &&
                parentForm.get('step1')?.get('deceasedLastName')?.touched
            }"
          />
          <!-- Message d'erreur -->
          <div
            *ngIf="
              parentForm.get('step1')?.get('deceasedLastName')?.invalid &&
              parentForm.get('step1')?.get('deceasedLastName')?.touched
            "
          >
            <div
              class="text-danger"
              *ngIf="parentForm.get('step1')?.get('deceasedLastName')?.errors?.['required']"
            >
              {{ "form.errors.required" | translate }}
            </div>
            <div
              class="text-danger"
              *ngIf="parentForm.get('step1')?.get('deceasedLastName')?.errors?.['minlength']"
            >
              {{ 'form.errors.minLength' | translate: { min: parentForm.get('step1')?.get('deceasedLastName')?.errors?.['minlength']?.requiredLength } }}
            </div>
            <div
              class="text-danger"
              *ngIf="parentForm.get('step1')?.get('deceasedLastName')?.errors?.['maxlength']"
            >
              {{ 'form.errors.maxLength' | translate: { max: parentForm.get('step1')?.get('deceasedLastName')?.errors?.['maxlength']?.requiredLength } }}
            </div>
            <div
              class="text-danger"
              *ngIf="parentForm.get('step1')?.get('deceasedLastName')?.errors?.['pattern']"
            >
              {{ "form.errors.pattern" | translate }}
            </div>
          </div>
        </div>

        <div class="mb-3 position-relative">
          <label for="deceasedFirstName" class="form-label h6">{{
            "form.firstName" | translate
          }}</label>
          <input
            type="text"
            id="deceasedFirstName"
            class="form-control"
            formControlName="deceasedFirstName"
            [ngClass]="{
              'is-valid':
                parentForm.get('step1')?.get('deceasedFirstName')?.valid &&
                parentForm.get('step1')?.get('deceasedFirstName')?.touched,
              'is-invalid':
                parentForm.get('step1')?.get('deceasedFirstName')?.invalid &&
                parentForm.get('step1')?.get('deceasedFirstName')?.touched
            }"
          />
          <!-- Message d'erreur -->
          <div
            *ngIf="
              parentForm.get('step1')?.get('deceasedFirstName')?.invalid &&
              parentForm.get('step1')?.get('deceasedFirstName')?.touched
            "
          >
            <div
              class="text-danger"
              *ngIf="parentForm.get('step1')?.get('deceasedFirstName')?.errors?.['required']"
            >
              {{ "form.errors.required" | translate }}
            </div>
            <div
              class="text-danger"
              *ngIf="parentForm.get('step1')?.get('deceasedFirstName')?.errors?.['minlength']"
            >
              {{ 'form.errors.minLength' | translate: { min: parentForm.get('step1')?.get('deceasedFirstName')?.errors?.['minlength']?.requiredLength } }}
            </div>
            <div
              class="text-danger"
              *ngIf="parentForm.get('step1')?.get('deceasedFirstName')?.errors?.['maxlength']"
            >
              {{ 'form.errors.maxLength' | translate: { max: parentForm.get('step1')?.get('deceasedFirstName')?.errors?.['maxlength']?.requiredLength } }}
            </div>
            <div
              class="text-danger"
              *ngIf="parentForm.get('step1')?.get('deceasedFirstName')?.errors?.['pattern']"
            >
              {{ "form.errors.pattern" | translate }}
            </div>
          </div>
        </div>

        <div class="mb-3 position-relative">
          <label for="deceasedDateOfBirth" class="form-label h6">{{
            "form.dateOfBirth" | translate
          }}</label>
          <input
            type="date"
            id="deceasedDateOfBirth"
            class="form-control"
            formControlName="deceasedDateOfBirth"
            [ngClass]="{
              'is-valid':
                parentForm.get('step1')?.get('deceasedDateOfBirth')?.valid &&
                parentForm.get('step1')?.get('deceasedDateOfBirth')?.touched,
              'is-invalid':
                parentForm.get('step1')?.get('deceasedDateOfBirth')?.invalid &&
                parentForm.get('step1')?.get('deceasedDateOfBirth')?.touched
            }"
          />
          <!-- Message d'erreur -->
          <div
            class="invalid-feedback"
            *ngIf="
              parentForm.get('step1')?.get('deceasedDateOfBirth')?.invalid &&
              parentForm.get('step1')?.get('deceasedDateOfBirth')?.touched
            "
          >
            {{ "form.errors.required" | translate }}
          </div>
        </div>

        <div class="mb-3 position-relative">
          <label for="deceasedClientNumber" class="form-label h6">{{
            "form.clientNumber" | translate
          }}</label>
          <p class="text-muted" style="font-style: italic">
            <small> {{ "form.remark" | translate }}</small>
          </p>
          <input
            type="number"
            id="deceasedClientNumber"
            class="form-control"
            formControlName="deceasedClientNumber"
            [ngClass]="{
              'is-valid':
                parentForm.get('step1')?.get('deceasedClientNumber')?.valid &&
                parentForm.get('step1')?.get('deceasedClientNumber')?.touched,
              'is-invalid':
                parentForm.get('step1')?.get('deceasedClientNumber')?.invalid &&
                parentForm.get('step1')?.get('deceasedClientNumber')?.touched
            }"
          />
          <!-- Message d'erreur -->
          <div
            *ngIf="
              parentForm.get('step1')?.get('deceasedClientNumber')?.invalid &&
              parentForm.get('step1')?.get('deceasedClientNumber')?.touched
            "
          >
            <div
              class="text-danger"
              *ngIf="parentForm.get('step1')?.get('deceasedClientNumber')?.errors?.['required']"
            >
              {{ "form.errors.required" | translate }}
            </div>
            <div
              class="text-danger"
              *ngIf="parentForm.get('step1')?.get('deceasedClientNumber')?.errors?.['pattern']"
            >
              {{ "form.errors.exactNumber" | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
