<nav class="card navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <!-- Logo à gauche -->
    <a class="navbar-brand" href="#">
      <img
        src="assets/images/logo-blue.png"
        alt="Logo"
        width="50"
        height="50"
        class="d-inline-block align-top"
      />
      Muteni Bank
    </a>

    <!-- Bouton pour afficher/masquer le menu mobile -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Liens de navigation -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mes documents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mon profil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nous contacter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Déconnexion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
