/* Couleurs principales */
:root {
  --turquoise-blue: #13aa9a;
  --dark-blue: #222c4a;
  --white: #ffffff;
  --hover: #0f877b;

  --font-overpass: "Overpass", sans-serif;
  --font-ubuntu: "Ubuntu", sans-serif;
}

/* Body global */
body {
  margin: 0;
  font-family: var(--font-overpass);
  background-color: var(--dark-blue);
  color: var(--white);
}

/* Boutons */
button {
  background-color: var(--turquoise-blue);
  border: none;
  color: var(--white);
  padding: 10px 20px;
  border-radius: 10px !important;
  cursor: pointer !important;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--hover);
}

/* Titres */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--turquoise-blue) !important;
}

/* Paragraphes */
p,
span {
  font-family: var(--font-ubuntu);
}

/* Liens */
a {
  color: inherit;
  text-decoration: none;
}

/* Cartes ou sections */
.card {
  background-color: var(--dark-blue);
  color: var(--white);
  border: 1px solid var(--turquoise-blue);
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
