<div [formGroup]="$any(parentForm.get('step2'))">
  <div class="container">
    <div class="row">
      <p class="text-muted mb-3">
        {{ "form.notice" | translate }}
      </p>

      <!-- 1ère partie du formulaire -->
      <div class="col-md-5">
        <h5>{{ "form.identity" | translate }}</h5>
        <div class="mb-3 position-relative">
          <label for="lastName" class="form-label h6">{{
            "form.lastName" | translate
          }}</label>
          <input
            type="text"
            id="lastName"
            class="form-control"
            formControlName="lastName"
            [ngClass]="{
              'is-valid':
                parentForm.get('step2')?.get('lastName')?.valid &&
                parentForm.get('step2')?.get('lastName')?.touched,
              'is-invalid':
                parentForm.get('step2')?.get('lastName')?.invalid &&
                parentForm.get('step2')?.get('lastName')?.touched
            }"
          />
          <!-- Message d'erreur -->
          <div
            *ngIf="
              parentForm.get('step2')?.get('lastName')?.invalid &&
              parentForm.get('step2')?.get('lastName')?.touched
            "
          >
            <div
              class="text-danger"
              *ngIf="parentForm.get('step2')?.get('lastName')?.errors?.['required']"
            >
              {{ "form.errors.required" | translate }}
            </div>
            <div
              class="text-danger"
              *ngIf="parentForm.get('step2')?.get('lastName')?.errors?.['minlength']"
            >
              {{ 'form.errors.minLength' | translate: { min: parentForm.get('step2')?.get('lastName')?.errors?.['minlength']?.requiredLength } }}
            </div>
            <div
              class="text-danger"
              *ngIf="parentForm.get('step2')?.get('lastName')?.errors?.['maxlength']"
            >
              {{ 'form.errors.maxLength' | translate: { max: parentForm.get('step2')?.get('lastName')?.errors?.['maxlength']?.requiredLength } }}
            </div>
            <div
              class="text-danger"
              *ngIf="parentForm.get('step2')?.get('lastName')?.errors?.['pattern']"
            >
              {{ "form.errors.pattern" | translate }}
            </div>
          </div>
        </div>

        <div class="mb-3 position-relative">
          <label for="secondName" class="form-label h6">{{
            "form.secondName" | translate
          }}</label>
          <input
            type="text"
            id="secondName"
            class="form-control"
            formControlName="secondName"
            [ngClass]="{
              'is-valid':
                parentForm.get('step2')?.get('secondName')?.valid &&
                parentForm.get('step2')?.get('secondName')?.touched,
              'is-invalid':
                parentForm.get('step2')?.get('secondName')?.invalid &&
                parentForm.get('step2')?.get('secondName')?.touched
            }"
          />
          <!-- Message d'erreur -->
          <div
            *ngIf="
              parentForm.get('step2')?.get('secondName')?.invalid &&
              parentForm.get('step2')?.get('secondName')?.touched
            "
          >
            <div
              class="text-danger"
              *ngIf="parentForm.get('step2')?.get('secondName')?.errors?.['minlength']"
            >
              {{ 'form.errors.minLength' | translate: { min: parentForm.get('step2')?.get('secondName')?.errors?.['minlength']?.requiredLength } }}
            </div>
            <div
              class="text-danger"
              *ngIf="parentForm.get('step2')?.get('secondName')?.errors?.['maxlength']"
            >
              {{ 'form.errors.maxLength' | translate: { max: parentForm.get('step2')?.get('secondName')?.errors?.['maxlength']?.requiredLength } }}
            </div>
            <div
              class="text-danger"
              *ngIf="parentForm.get('step2')?.get('secondName')?.errors?.['pattern']"
            >
              {{ "form.errors.pattern" | translate }}
            </div>
          </div>
        </div>

        <div class="mb-3 position-relative">
          <label for="firstName" class="form-label h6">{{
            "form.firstName" | translate
          }}</label>
          <input
            type="text"
            id="firstName"
            class="form-control"
            formControlName="firstName"
            [ngClass]="{
              'is-valid':
                parentForm.get('step2')?.get('firstName')?.valid &&
                parentForm.get('step2')?.get('firstName')?.touched,
              'is-invalid':
                parentForm.get('step2')?.get('firstName')?.invalid &&
                parentForm.get('step2')?.get('firstName')?.touched
            }"
          />
          <!-- Message d'erreur -->
          <div
            *ngIf="
              parentForm.get('step2')?.get('firstName')?.invalid &&
              parentForm.get('step2')?.get('firstName')?.touched
            "
          >
            <div
              class="text-danger"
              *ngIf="parentForm.get('step2')?.get('firstName')?.errors?.['required']"
            >
              {{ "form.errors.required" | translate }}
            </div>
            <div
              class="text-danger"
              *ngIf="parentForm.get('step2')?.get('firstName')?.errors?.['minlength']"
            >
              {{ 'form.errors.minLength' | translate: { min: parentForm.get('step2')?.get('firstName')?.errors?.['minlength']?.requiredLength } }}
            </div>
            <div
              class="text-danger"
              *ngIf="parentForm.get('step2')?.get('firstName')?.errors?.['maxlength']"
            >
              {{ 'form.errors.maxLength' | translate: { max: parentForm.get('step2')?.get('firstName')?.errors?.['maxlength']?.requiredLength } }}
            </div>
            <div
              class="text-danger"
              *ngIf="parentForm.get('step2')?.get('firstName')?.errors?.['pattern']"
            >
              {{ "form.errors.pattern" | translate }}
            </div>
          </div>
        </div>

        <div class="mb-3 position-relative">
          <label
            for="dateOfBirth"
            class="form-label h6 d-flex justify-content-between align-items-center"
            >{{ "form.dateOfBirth" | translate }}
            <span class="text-muted" style="font-size: 14px"
              >JJ/MM/AAAA</span
            ></label
          >
          <input
            type="date"
            id="dateOfBirth"
            class="form-control"
            formControlName="dateOfBirth"
            [ngClass]="{
              'is-valid':
                parentForm.get('step2')?.get('dateOfBirth')?.valid &&
                parentForm.get('step2')?.get('dateOfBirth')?.touched,
              'is-invalid':
                parentForm.get('step2')?.get('dateOfBirth')?.invalid &&
                parentForm.get('step2')?.get('dateOfBirth')?.touched
            }"
          />
          <!-- Message d'erreur -->
          <div
            class="invalid-feedback"
            *ngIf="
              parentForm.get('step2')?.get('dateOfBirth')?.invalid &&
              parentForm.get('step2')?.get('dateOfBirth')?.touched
            "
          >
            {{ "form.errors.required" | translate }}
          </div>
        </div>

        <div class="mb-3 position-relative">
          <label for="cityOfBirth" class="form-label h6">{{
            "form.cityOfBirth" | translate
          }}</label>
          <input
            type="text"
            id="cityOfBirth"
            class="form-control"
            formControlName="cityOfBirth"
            [ngClass]="{
              'is-valid':
                parentForm.get('step2')?.get('cityOfBirth')?.valid &&
                parentForm.get('step2')?.get('cityOfBirth')?.touched,
              'is-invalid':
                parentForm.get('step2')?.get('cityOfBirth')?.invalid &&
                parentForm.get('step2')?.get('cityOfBirth')?.touched
            }"
          />
          <!-- Message d'erreur -->
          <div
            *ngIf="
              parentForm.get('step2')?.get('cityOfBirth')?.invalid &&
              parentForm.get('step2')?.get('cityOfBirth')?.touched
            "
          >
            <div
              class="text-danger"
              *ngIf="parentForm.get('step2')?.get('cityOfBirth')?.errors?.['required']"
            >
              {{ "form.errors.required" | translate }}
            </div>
            <div
              class="text-danger"
              *ngIf="parentForm.get('step2')?.get('cityOfBirth')?.errors?.['minlength']"
            >
              {{ 'form.errors.minLength' | translate: { min: parentForm.get('step2')?.get('cityOfBirth')?.errors?.['minlength']?.requiredLength } }}
            </div>
            <div
              class="text-danger"
              *ngIf="parentForm.get('step2')?.get('cityOfBirth')?.errors?.['maxlength']"
            >
              {{ 'form.errors.maxLength' | translate: { max: parentForm.get('step2')?.get('cityOfBirth')?.errors?.['maxlength']?.requiredLength } }}
            </div>
          </div>
        </div>

        <div class="mb-3 position-relative">
          <label for="countryOfBirth" class="form-label h6">{{
            "form.countryOfBirth" | translate
          }}</label>
          <select
            id="countryOfBirth"
            class="form-control form-select pe-5"
            formControlName="countryOfBirth"
            [ngClass]="{
              'is-valid':
                parentForm.get('step2')?.get('countryOfBirth')?.valid &&
                parentForm.get('step2')?.get('countryOfBirth')?.touched,
              'is-invalid':
                parentForm.get('step2')?.get('countryOfBirth')?.invalid &&
                parentForm.get('step2')?.get('countryOfBirth')?.touched
            }"
            (focus)="onFocusChevron()"
            (blur)="onBlurChevron()"
          >
            <option value="" disabled selected>
              {{ "form.selectCountry" | translate }}
            </option>
            <option *ngFor="let country of countries" [value]="country.name">
              {{ country.name }}
            </option>
          </select>
          <!-- Chevron (icône) -->
          <span
            class="position-absolute top-50 end-0 translate-middle-y me-3 chevron"
            [class.rotated]="isChevronRotated"
          >
            <i class="bi bi-chevron-down"></i>
          </span>

          <!-- Message d'erreur -->
          <div
            *ngIf="
              parentForm.get('step2')?.get('countryOfBirth')?.invalid &&
              parentForm.get('step2')?.get('countryOfBirth')?.touched
            "
          >
            <div
              class="text-danger"
              *ngIf="parentForm.get('step2')?.get('countryOfBirth')?.errors?.['required']"
            >
              {{ "form.errors.required" | translate }}
            </div>
          </div>
        </div>
      </div>

      <!-- un trait entre les deux forms -->
      <div
        class="col-md-2 d-none d-md-flex justify-content-center align-items-center"
      >
        <div style="width: 1px; height: 100%; background-color: #ccc"></div>
      </div>

      <!-- 2ème partie du formulaire -->
      <div class="col-md-5">
        <h5>{{ "form.residence" | translate }}</h5>
        <div class="mb-3 position-relative">
          <label for="address" class="form-label h6">{{
            "form.address" | translate
          }}</label>
          <input
            type="text"
            id="address"
            class="form-control"
            formControlName="address"
            [ngClass]="{
              'is-valid':
                parentForm.get('step2')?.get('address')?.valid &&
                parentForm.get('step2')?.get('address')?.touched,
              'is-invalid':
                parentForm.get('step2')?.get('address')?.invalid &&
                parentForm.get('step2')?.get('address')?.touched
            }"
          />
          <!-- Message d'erreur -->
          <div
            *ngIf="
              parentForm.get('step2')?.get('address')?.invalid &&
              parentForm.get('step2')?.get('address')?.touched
            "
          >
            <div
              class="text-danger"
              *ngIf="parentForm.get('step2')?.get('address')?.errors?.['required']"
            >
              {{ "form.errors.required" | translate }}
            </div>
            <div
              class="text-danger"
              *ngIf="parentForm.get('step2')?.get('address')?.errors?.['minlength']"
            >
              {{ 'form.errors.minLength' | translate: { min: parentForm.get('step2')?.get('address')?.errors?.['minlength']?.requiredLength } }}
            </div>
            <div
              class="text-danger"
              *ngIf="parentForm.get('step2')?.get('address')?.errors?.['maxlength']"
            >
              {{ 'form.errors.maxLength' | translate: { max: parentForm.get('step2')?.get('address')?.errors?.['maxlength']?.requiredLength } }}
            </div>
          </div>
        </div>

        <div class="mb-3 position-relative">
          <label
            for="addressComplement"
            class="form-label h6 d-flex justify-content-between align-items-center"
            >{{ "form.addressComplement" | translate }}
            <span class="text-muted" style="font-size: 14px">{{
              "form.optional" | translate
            }}</span></label
          >
          <input
            type="text"
            id="addressComplement"
            class="form-control"
            formControlName="addressComplement"
            [ngClass]="{
              'is-valid':
                parentForm.get('step2')?.get('addressComplement')?.valid &&
                parentForm.get('step2')?.get('addressComplement')?.touched,
              'is-invalid':
                parentForm.get('step2')?.get('addressComplement')?.invalid &&
                parentForm.get('step2')?.get('addressComplement')?.touched
            }"
          />
          <!-- Message d'erreur -->
          <div
            *ngIf="
              parentForm.get('step2')?.get('addressComplement')?.invalid &&
              parentForm.get('step2')?.get('addressComplement')?.touched
            "
          >
            <div
              class="text-danger"
              *ngIf="parentForm.get('step2')?.get('addressComplement')?.errors?.['maxlength']"
            >
              {{ 'form.errors.maxLength' | translate: { max: parentForm.get('step2')?.get('addressComplement')?.errors?.['maxlength']?.requiredLength } }}
            </div>
          </div>
        </div>

        <div class="mb-3 position-relative">
          <label for="postalCode" class="form-label h6">{{
            "form.postalCode" | translate
          }}</label>
          <input
            type="text"
            id="postalCode"
            class="form-control"
            formControlName="postalCode"
            [ngClass]="{
              'is-valid':
                parentForm.get('step2')?.get('postalCode')?.valid &&
                parentForm.get('step2')?.get('postalCode')?.touched,
              'is-invalid':
                parentForm.get('step2')?.get('postalCode')?.invalid &&
                parentForm.get('step2')?.get('postalCode')?.touched
            }"
          />
          <!-- Message d'erreur -->
          <div
            *ngIf="
              parentForm.get('step2')?.get('postalCode')?.invalid &&
              parentForm.get('step2')?.get('postalCode')?.touched
            "
          >
            <div
              class="text-danger"
              *ngIf="parentForm.get('step2')?.get('postalCode')?.errors?.['required']"
            >
              {{ "form.errors.required" | translate }}
            </div>
            <div
              class="text-danger"
              *ngIf="parentForm.get('step2')?.get('postalCode')?.errors?.['pattern']"
            >
              {{ "form.errors.pattern" | translate }}
            </div>
          </div>
        </div>

        <div class="mb-3 position-relative">
          <label for="city" class="form-label h6">{{
            "form.city" | translate
          }}</label>
          <input
            type="text"
            id="city"
            class="form-control"
            formControlName="city"
            [ngClass]="{
              'is-valid':
                parentForm.get('step2')?.get('city')?.valid &&
                parentForm.get('step2')?.get('city')?.touched,
              'is-invalid':
                parentForm.get('step2')?.get('city')?.invalid &&
                parentForm.get('step2')?.get('city')?.touched
            }"
          />
          <!-- Message d'erreur -->
          <div
            *ngIf="
              parentForm.get('step2')?.get('city')?.invalid &&
              parentForm.get('step2')?.get('city')?.touched
            "
          >
            <div
              class="text-danger"
              *ngIf="parentForm.get('step2')?.get('city')?.errors?.['required']"
            >
              {{ "form.errors.required" | translate }}
            </div>
            <div
              class="text-danger"
              *ngIf="parentForm.get('step2')?.get('city')?.errors?.['minlength']"
            >
              {{ 'form.errors.minLength' | translate: { min: parentForm.get('step2')?.get('city')?.errors?.['minlength']?.requiredLength } }}
            </div>
            <div
              class="text-danger"
              *ngIf="parentForm.get('step2')?.get('city')?.errors?.['maxlength']"
            >
              {{ 'form.errors.maxLength' | translate: { max: parentForm.get('step2')?.get('city')?.errors?.['maxlength']?.requiredLength } }}
            </div>
          </div>
        </div>

        <div class="mb-3 position-relative">
          <label for="country" class="form-label h6">{{
            "form.country" | translate
          }}</label>
          <select
            id="country"
            class="form-control form-select pe-5"
            formControlName="country"
            [ngClass]="{
              'is-valid':
                parentForm.get('step2')?.get('country')?.valid &&
                parentForm.get('step2')?.get('country')?.touched,
              'is-invalid':
                parentForm.get('step2')?.get('country')?.invalid &&
                parentForm.get('step2')?.get('country')?.touched
            }"
            (focus)="onFocusChevron()"
            (blur)="onBlurChevron()"
          >
            <option value="" disabled selected>
              {{ "form.selectCountry" | translate }}
            </option>
            <option *ngFor="let country of countries" [value]="country.name">
              {{ country.name }}
            </option>
          </select>
          <!-- Chevron (icône) -->
          <span
            class="position-absolute top-50 end-0 translate-middle-y me-3 chevron"
            [class.rotated]="isChevronRotated"
          >
            <i class="bi bi-chevron-down"></i>
          </span>

          <!-- Message d'erreur -->
          <div
            *ngIf="
              parentForm.get('step2')?.get('country')?.invalid &&
              parentForm.get('step2')?.get('country')?.touched
            "
          >
            <div
              class="text-danger"
              *ngIf="parentForm.get('step2')?.get('country')?.errors?.['required']"
            >
              {{ "form.errors.required" | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
