<div class="container mt-4">
  <!-- Section 1: Informations du défunt -->
  <div class="row mb-4">
    <div class="col-12">
      <h5>{{ "form.deceasedInformation" | translate }}</h5>
    </div>
    <div class="col-6 col-md-2">
      <ul class="list-unstyled">
        <li>{{ "form.lastName" | translate }}</li>
        <li>
          <strong>{{ formData.deceasedLastName }}</strong>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md-2">
      <ul class="list-unstyled">
        <li>{{ "form.firstName" | translate }}</li>
        <li>
          <strong>{{ formData.deceasedFirstName }}</strong>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md-2">
      <ul class="list-unstyled">
        <li>{{ "form.dateOfBirth" | translate }}</li>
        <li>
          <strong>{{ formData.deceasedDateOfBirth }}</strong>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md-2">
      <ul class="list-unstyled">
        <li>{{ "form.clientNumber" | translate }}</li>
        <li>
          <strong>{{ formData.deceasedClientNumber }}</strong>
        </li>
      </ul>
    </div>
    <div class="col-12 mt-4">
      <button type="button" (click)="goToStep(1)">
        {{ "form.buttonUpdate" | translate }}
      </button>
    </div>
  </div>
  <hr />

  <!-- Section 2: Vos informations -->
  <div class="row mb-4">
    <div class="col-12">
      <h5>{{ "form.subtitleStep2" | translate }}</h5>
    </div>
    <div class="col-6 col-md-2">
      <ul class="list-unstyled">
        <li>{{ "form.lastName" | translate }}</li>
        <li>
          <strong>{{ formData.lastName }}</strong>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md-2">
      <ul class="list-unstyled">
        <li>{{ "form.secondName" | translate }}</li>
        <li>
          <strong>{{ formData.secondName }}</strong>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md-2">
      <ul class="list-unstyled">
        <li>{{ "form.firstName" | translate }}</li>
        <li>
          <strong>{{ formData.firstName }}</strong>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md-2">
      <ul class="list-unstyled">
        <li>{{ "form.dateOfBirth" | translate }}</li>
        <li>
          <strong>{{ formData.dateOfBirth }}</strong>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md-2">
      <ul class="list-unstyled">
        <li>{{ "form.cityOfBirth" | translate }}</li>
        <li>
          <strong>{{ formData.cityOfBirth }}</strong>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md-2">
      <ul class="list-unstyled">
        <li>{{ "form.countryOfBirth" | translate }}</li>
        <li>
          <strong>{{ formData.countryOfBirth }}</strong>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md-2">
      <ul class="list-unstyled">
        <li>{{ "form.address" | translate }}</li>
        <li>
          <strong>{{ formData.address }}</strong>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md-2">
      <ul class="list-unstyled">
        <li>
          {{ "form.addressComplement" | translate }} {{ " " }}
          {{ "form.optional" | translate }}
        </li>
        <li>
          <strong>{{ formData.addressComplement }}</strong>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md-2">
      <ul class="list-unstyled">
        <li>{{ "form.postalCode" | translate }}</li>
        <li>
          <strong>{{ formData.postalCode }}</strong>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md-2">
      <ul class="list-unstyled">
        <li>{{ "form.city" | translate }}</li>
        <li>
          <strong>{{ formData.city }}</strong>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md-2">
      <ul class="list-unstyled">
        <li>{{ "form.country" | translate }}</li>
        <li>
          <strong>{{ formData.country }}</strong>
        </li>
      </ul>
    </div>
    <div class="col-12 mt-4">
      <button type="button" (click)="goToStep(2)">
        {{ "form.buttonUpdate" | translate }}
      </button>
    </div>
  </div>
  <hr />

  <!-- Section 3: Situation fiscale -->
  <div class="row mb-4">
    <div class="col-12">
      <h5>{{ "form.taxSituationTitle" | translate }}</h5>
    </div>
    <div class="col-12">
      <p>
        {{ "form.taxSituationText" | translate }} {{ formData.taxSituation }}
      </p>
    </div>
    <div class="col-12 mt-4">
      <button type="button" (click)="goToStep(3)">
        {{ "form.buttonUpdate" | translate }}
      </button>
    </div>
  </div>
  <hr />
</div>
