<div [formGroup]="$any(parentForm.get('step3'))">
  <div class="container">
    <div class="row">
      <p class="mb-4 d-flex align-items-center gap-2 marginT important">
        <span class="cercle cercle-sm cercle-md cercle-lg"> ! </span>
        {{ "form.important" | translate }}
        {{ " " }}
        {{ formData.deceasedFirstName }}
        {{ " " }}
        {{ formData.deceasedLastName }}.
      </p>
      <p class="text-muted mb-4 marginL">
        {{ "form.instruction" | translate }}
      </p>

      <div class="col-md-7">
        <div class="mb-3">
          <label class="form-label h3 mb-4">{{
            "form.taxSituation" | translate
          }}</label>
          <div class="form-check mb-5">
            <input
              type="radio"
              id="situationA"
              name="taxSituation"
              class="form-check-input"
              formControlName="taxSituation"
              [value]="combinedTextA"
            />
            <label class="form-check-label" for="situationA">
              <strong>{{ "form.situationA" | translate }}</strong>
              : {{ "form.textApart1" | translate }}
              <strong>
                {{ formData.deceasedClientNumber }} {{ " " }}
                {{ "form.textApart2" | translate }} </strong
              >{{ "form.textApart3" | translate }}
            </label>
          </div>

          <div class="form-check mb-5">
            <input
              type="radio"
              id="situationB"
              name="taxSituation"
              class="form-check-input"
              formControlName="taxSituation"
              [value]="combinedTextB"
            />
            <label class="form-check-label" for="situationB">
              <strong>{{ "form.situationB" | translate }}</strong>
              : {{ "form.textBpart1" | translate }}
              <strong>{{ "form.textBpart2" | translate }}</strong>
              {{ "form.textBpart3" | translate }}
            </label>
          </div>
          <div
            *ngIf="
              parentForm.get('step3.taxSituation')?.touched &&
              parentForm.get('step3.taxSituation')?.invalid
            "
            class="text-danger"
          >
            <span
              *ngIf="parentForm.get('step3.taxSituation')?.hasError('required')"
            >
              {{ "form.errors.required" | translate }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
