.circle {
  border: 2px solid var(--turquoise-blue);
}

.circle svg {
  width: 24px;
  height: 24px;
  color: var(--turquoise-blue);
  transition: fill 0.3s ease;
}

.circle:hover {
  border: 2px solid var(--dark-blue);
  background-color: var(--dark-blue);
}

.circle svg:hover {
  color: var(--white);
}
